@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #232C50;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.15rem;
}
/* Header */
.header {
    padding: 3em;
}
.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li {
    margin: 0 10px;
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    color: #242E52;
    position: relative;
}
.nav-menu a:hover {
    color: rgba(36, 46, 82, 0.60);
}
.nav-menu a::after {
    content: "";
    border-bottom: 5px solid #8B48BF;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.nav-menu a:hover::after {
    opacity: 1;
}
.nav-menu {
    display: flex;
}
.nav-menu-mobile {
    display: none;
}
/* End Header */
/* Hero section */
.hero-section {
    margin: 100px 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.hero-section-img img {
    width: 100%;
}
.hero-section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 28px;
    max-width: 450px;
}
/* End hero section */
/* Article argument */
.article-argument {
    display: flex;
    justify-content: center;
    background: #8B48BF;
    color: #FFF;
    gap: 100px;
    padding: 2.5rem 1rem;
}
.article-argument * {
    width: 450px;
}
.article-argument p {
    line-height: 1.75rem;
}
.flex {
    display: flex;
}
button {
    background-color: #8b48bf;
    color: #FFF;
    border: none;
    padding: 0.625rem;
    border-radius: 50px;
    height: 44px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ;
   
   
}
button:hover {
    cursor: pointer;
    background: rgba(139, 72, 191, 0.70);
    transform: translateY(-4px);
}
button:active {
    transform: scale(0.95); /* Decrease size by 5% when clicked */
    box-shadow: none; /* Remove the shadow on click */
}
.button-regular {
    width: 134px;
}
.button-small {
    min-width: 63px;
}

.article-call-action {
    width: 100%;
    background: #8b48bf;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}
.call-action-title {
    color: #ffffff;
    width: 35%;
    font-size: 2.5rem;
}
.call-action-button {
    background: #ffffff;
}
.call-action-button a {
    text-decoration: none;
    color: #8b48bf;
}
.call-action-button:hover{
    background: hsla(0, 0%, 98%,0.9);

}
/* Article best */
.article-best {
    text-align: center;
    padding-bottom:12rem ;
}
.article-best h2 {
    padding: 6rem 1rem;
}
.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fafafa;
    margin-bottom: 4rem;
}
.card img {
    position: relative;
    top: -35px;
}
.card p {
    padding: 1.6rem;
    color: #B9B9C1;
}
/* end article best */
/* Motives section */
.motives-section{
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
    padding: 2.5rem 0;
    gap:1.5rem;
}
.motives-article{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    /* padding-left: 1rem; */
}
.motives-heading{
    display: flex;
    align-items: center;
    gap:1rem;
}
.motives-number{
    padding:  0.625rem 1.5rem;
    border-radius: 3.125rem;
}
.motives-article p{
   align-self: end;
   width:68%;
   color: #B3B2B7;
   font-weight: 400;
   font-size: 0.98rem;

}
.motives-title{
    font-weight: 700;
    color: #323851;
}

/* footer */

footer {
    padding: 3rem 8rem;
    background:#1E1E26 ;
    color: #8C8C94;
    min-height:12rem;
}

.primary{
    background-color: #8b48bf;
    color: #FFF;
}
.footer-nav {
    list-style:none;
    padding: 0;
    /* margin: 0; */
}
.footer-nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.logo-nav-icons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    width: 10%;
  
}
.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start ;
    gap: 1rem;
}
.footer-nav-container{
    justify-content: space-around;
    width: 66%;
}
.form-credits-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
form{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: end;
}
form input{
    min-width: 70%;
    padding: 0.625rem;
    border-radius: 3.125rem;
    text-align: start;
    border: none;
}
input:focus{
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.7);
}
footer p{
    font-size: 0.78rem;
    color: #8C8C94;
    font-weight: 400;
    text-align: right;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 480px)  {
    .header {
        padding: 2.5em;
    }
    .header-nav {
        justify-content: space-between;
    }
    .nav-menu, .nav-button {
        display: none;
    }
    .nav-menu-mobile {
        display:inherit;
    }
    .hero-section {
        flex-direction: column;
        margin-top: 50px;
    }
    .article-argument , .article-call-action{
        background: #3CDDF3;
        flex-direction: column;
        gap: 50px;
    }
    .call-action-title{
        width: 100%;
        text-align: center;
    }
   
    .article-argument * {
        width: 100%;
    }
    .call-action-button{
        background: #232C50;
    }
    .call-action-button a{
        color: #FFF;
    }
    .card:nth-child(1), .card:nth-child(3)  {
        display: none;
    }
    .article-best {
        padding-bottom: 5rem ;
        margin: 1rem;
    }
    .motives-section{
        flex-direction: column;
    }
    .motives-article, .motives-heading{
        width: 100%;
    }
    .motives-heading{
        background: rgba(139, 72, 191, 0.30); 
        border-radius: 40px 0 0 40px;
    }
    .motives-article p{
        align-self: center;
    }
    footer{
        padding: 2.5rem 4rem;
        gap: 1rem;
    }
    .footer-container{
        flex-direction: column-reverse;
        gap:3rem;
    }
    .form-credits-container, .footer-nav-container, .logo-nav-icons-container{
        width: 100%;
    }
    .footer-nav-container{
        justify-content: space-around;
    }
    footer  p{
        text-align: center;
        padding: 2rem;
    }
    .logo-nav-icons-container{
        padding: 1rem;
        align-items: center;
        gap: 2.5rem;
    }
    .logo-nav-icons-container img{
        order: 1;
        padding: 1rem;
    }
    form input{
        width: 90%;
    }
}
